@charset "utf-8";
/* CSS Document */
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";font-size: 10px;color: #F9C28A;margin: 0
}
.banner{
	width: 100%;min-height: 300px;background-color: #A19790
}
.img-100{
	width: 100%;height: auto
}
.menu{
	width: 100%;height: 50px;background-color: #A19790;line-height: 50px;text-align: center
}
.menu a{
text-decoration: none;padding: 10px 20px;color:#67000C;border-radius: 20px	
}
.menu a:hover{
	background-color: #FFFFFF;color: #F9C28A;font-weight: bold
}
*{box-sizing: border-box}
.container{
	width: 80%;margin: 0 auto
}
body{
	font-family: arial;font-size: 16px;color: #666666;margin: 0
}
.text-center{
	text-align: center;color: #552F00
}
.w-25{
	width: 25%;padding: 15px;float: left
}
.clearfix{
	clear: both
}
.img-100{
	width: 100%;height: auto
}
.vien{
	width: 100%;min-height: 100px;background-color: antiquewhite;border-radius: 50px 15px 5px 5px;border: 1px #A19790 solid;text-align: center
}
.bo-goc{
	border-radius: 50px 15px 0 0;
}
.trang-cuoi{
	width: 100%; height: 20px; background: #FAEBD7 ;line-height: 20px ;text-align: center;font-size: 15px
}
